<template id="side-menu">
    <div class="menu">
        <transition :name="mobile ? 'fade' : ''">
            <div :class="{overlay: true}" v-if="show" @click="$emit('menu-toggle', false)">
                <div class="box"></div>
            </div>
        </transition>
        <transition :name="mobile ? 'slide' : ''">
            <div :class="{panel: true}" v-if="this.mobile ? this.show : true">
                <div class="title">
                    <img v-if="image.src != ''" :src="image.src" :srcset="image.srcset">
                    <h1 class="header__title">{{title}}</h1>
                </div>
                <div class="option">
                    option 2
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    Vue.component('SideMenu', {
        props: {
            title: {
                type: String,
                default: ''
            },
            image: {
                type: Object,
                default() {
                    return {
                        src: '',
                        srcset: ''
                    };
                }
            },
            links: {
                type: Object,
                default() {
                    return {

                    };
                }
            },
            show: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                windowWidth: 0,
                mobile: false
            };
        },
        template: '#side-menu',
        computed: {
            visible() {
                return this.mobile ? this.show : true;
            }
        },
        watch: {
            windowWidth(newWidth, oldWidth) {
                if ((newWidth > 600 && oldWidth <= 600) || (newWidth <= 600 && oldWidth > 600))
                {
                    this.$emit('menu-toggle', false);
                    this.mobile = newWidth <= 600;
                }
            }
        },
        mounted() {
            let self = this;
            this.mobile = window.innerWidth <= 600;
            this.$nextTick(function() {
                window.addEventListener('resize', function(e) {
                    self.windowWidth = window.innerWidth;
                    this.mobile = self.windowWidth <= 600;
                });
            })
        }
    });
</script>

<style>
    .menu {
        float: left;
        height: 100%;

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;

        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;

        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;

        top: 0;
        bottom: 0;

        z-index: -1;
    }

    /*.menu .overlay {*/
        /*opacity: 0;*/
        /*width: 0;*/
        /*z-index: 1100;*/
    /*}*/

    .menu .overlay {
        /*position: absolute;*/
        height: 100%;
        width: 100vw;

        /*overflow: hidden;*/

        background: rgba(0, 0, 0, 0.5);;
        
        z-index: 1100;
    }

    .menu .panel {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;

        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;

        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;

        background: #ececec;

        z-index: 1110;

        width: 256px;
        height: 100%;
        top: 0;
    }

        .menu .panel .header {
            font-size: 20px;
        }
        .menu .panel .option {

        }

    .menu .overlay {
    }
    
    @media screen and (max-width: 600px) {

        .menu {
            position: absolute;
            width: 0;
            z-index: 1100;
        }

        .menu .panel {
            position: absolute;
        }
    }

    .slide-enter-active, .slide-leave-active,
    .fade-enter-active, .fade-leave-active {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;


    }

    .slide-enter, .slide-leave-to {
        transform: translateX(-100%);
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>